<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fukk diabetes</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.3.1/dist/chartjs-plugin-annotation.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.1.1/air-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.1.1/air-datepicker.css">

    <script type="text/javascript" src="../static/Utils.js"></script>
    <script type="text/javascript" src="../static/Settings.js"></script>
    <script type="text/javascript" src="../static/GlucoseEntry.js"></script>
    <script type="text/javascript" src="../static/GlucoseDataSet.js"></script>
    <script type="text/javascript" src="../static/GlucoseRepository.js"></script>
    <script type="text/javascript" src="../static/GlucoseChart.js"></script>
</head>
<body>

<input type="text" id="date" placeholder="Выберите дату"/>
<canvas id="myChart"></canvas>

<script>
    const DateTime = luxon.DateTime;

    let today = new Date();
    let forDate = DateTime.fromJSDate(today);
    new AirDatepicker('#date', {
        selectedDates: [today],
        maxDate: today,
        // TODO minDate
        onSelect({date, formattedDate, datepicker}) {
            forDate = DateTime.fromJSDate(date);
            updateChart(forDate);
        }
    });

    let chart = new GlucoseChart(document.getElementById('myChart'));
    let glucoseRepository = new GlucoseRepository();

    function updateChart(date) {
        let dateBefore = date.minus({days: 1});

        let day = glucoseRepository.findOnDate(date, date.toFormat(DATASET_DATE_FORMAT), true);
        let dayBefore = glucoseRepository.findOnDate(dateBefore, dateBefore.toFormat(DATASET_DATE_FORMAT), false);
        Promise.all([day, dayBefore]).then(data => {
            chart.updateDataSets(data);
        });
    }

    let lastId;
    glucoseRepository.getLastId().then(id => {
        lastId = id;
        updateChart(forDate);
        setInterval(checkUpdates, CHART_UPDATE_TIMEOUT);
    });

    function checkUpdates() {
        if (forDate.startOf('day').toSeconds() !== DateTime.now().startOf('day').toSeconds()) return;

        glucoseRepository.getLastId().then(id => {
            if (lastId !== id) {
                updateChart(forDate);
                lastId = id;
            }
        });
    }
</script>
</body>
</html>